header {
  display: flex !important;
  height: 100%;
  align-items: center;
  .app-logo {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .app-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    .header-action {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

.login-buttons {
  display: flex;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

$sizes: "xs", "sm", "md", "lg", "xl";

$spacing-map: (
  xs: 5px,
  sm: 10px,
  md: 20px,
  lg: 30px,
  xl: 40px,
);

@mixin spacing-utility($attribute, $prefix: "-") {
  @each $name, $value in $spacing-map {
    &#{$prefix}#{$name} {
      #{$attribute}: $value;
    }
  }

  $newattribute: $attribute + "-bottom";
  @each $name, $value in $spacing-map {
    &-b#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }
  $newattribute: $attribute + "-top";
  @each $name, $value in $spacing-map {
    &-t#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + "-left";
  @each $name, $value in $spacing-map {
    &-l#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + "-right";
  @each $name, $value in $spacing-map {
    &-r#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute;
  @each $name, $value in $spacing-map {
    &-v#{$prefix}#{$name} {
      #{$newattribute}: $value 0;
    }
  }

  $newattribute: $attribute;
  @each $name, $value in $spacing-map {
    &-h#{$prefix}#{$name} {
      #{$newattribute}: 0 $value;
    }
  }
}

.m {
  @include spacing-utility(margin);
}

.p {
  @include spacing-utility(padding);
}

.w100 {
  width: 100% !important;
}

.mw100 {
  min-width: 100% !important;
}

.h100 {
  height: 100% !important;
}

.mh100 {
  min-height: 100% !important;
}

.relative {
  position: relative;
}

.dn {
  display: none;
}

.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.ais {
  align-items: stretch;
}

.aife {
  align-items: flex-end;
}

.aifs {
  align-items: flex-start;
}

.jcc {
  justify-content: center;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.jcsa {
  justify-content: space-around;
}

.jcsb {
  justify-content: space-between;
}

.jcse {
  justify-content: space-evenly;
}

.jcs {
  justify-content: stretch;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.settings {
  margin-left: 0px;
  margin-right: 0px;
  min-width: 100%;
}

.settings-main {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
}

.navbar-link {
  font-weight: 500;
  flex: 1;
  padding: 5px 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
}
